<div class="bird">
  <h2>{{bird.name}}</h2>
  <img class="img-circle" src="{{bird.image}}" alt="{{birdname}}">
  <h2>This is the {{bird.species}}. </h2>
  <div>Fun fact: {{bird.fun-fact}}</div>
  <div>Learn more about the <a href="{{bird.learn-more}}">{{bird.species}}</a></div>
  
  <div >
    <h3>Cat Sightings at the Same Location</h3>
    <div>
      {{#each cats}}
        <p>{{name}}</p>
      {{/each}}
    </div>
  </div>

</div>