<div class="bird">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>This is the {{species}}. </h2>
  <div>Fun fact: {{fun-fact}}</div>
  <div>Learn more about the <a href="{{learn-more}}">{{species}}</a></div>
  <a href="/birds/{{id}}/edit">Edit</a>
</div>
