<div class="bird">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>This is the {{species}}. </h2>
  <div>Fun fact: {{fun-fact}}</div>
  <div>Learn more about the <a href="{{learn-more}}">{{species}}</a></div>
</div>
<h3 class="center" > Recent Sightings for the {{species}}: </h3>
<div class="container" >
  <p class="bird-sightings">
  {{#each sightings}}
    Date: {{date}} <br>
    Location: {{location}} <br>
    Number of birds: {{quantity}} <br>
    Any comments: {{comments}}
  {{/each}}
  </p>
</div>