<form>  
<label> Select the bird species you identified from the dropdown list:</label>  
<select id="dropdown-list" >  
<option> --- Choose Species --- </option>  
{{#each birds}}
<option>
{{species}}
</option>
{{/each}}
</select>  

<label class="form-item">How many did you see? </label>
<input type="text" name="quantity" value="{{quantity}}">
</form>


{{!-- 
<form class="form" action="/bird/add-sighting" method="post">
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="{{name}}">
  </label>
  
  <label for="breed" class="form-item">
    Breed:
    <input type="text" name="breed" value="{{breed}}">
  </label>
  
  <label for="owner" class="form-item">
    Owner:
    <input type="text" name="owner" value="{{owner}}">
  </label>
  
  <input type="hidden" name="image" value="{{image}}">
  
  <input type="submit" name="" value="Submit">
{{!-- </form> --}} 