<div class="puppy">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <div>Owner: {{owner}}</div>
  <div>danger level: {{dangerLevel}}</div>
  <div>comments: {{comments}}</div>
  <a href="/puppies/{{id}}/edit">Edit</a>
</div>
