<div class="cat">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <div class="detail">Owner: {{owner}}</div>
  <div class="detail">Danger Level: {{dangerLevel}}</div>
  <div class="detail">Comments: {{comments}}</div>
  <div class="detail">Location: {{location}}</div>
  <br>
  <a href="/cats/{{id}}/edit">Edit</a>
</div>
