<div class="cat">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <div>Owner: {{owner}}</div>
  <div>Danger Level: {{dangerLevel}}</div>
  <div>Comments: {{comments}}</div>
  <div>Location: {{location}}</div>
  <br>
  <a href="/puppies/{{id}}/edit">Edit</a>
</div>
