<div class="cat">
  <h2>{{cats.name}}</h2>
  <img class="img-circle" src="{{cats.image}}" alt="{{cats.name}}">
  <h2>{{name}}</h2>
  <div class="detail">Owner: {{cats.owner}}</div>
  <div class="detail">Danger Level: {{cats.dangerLevel}}</div>
  <div class="detail">Comments: {{cats.comments}}</div>
  <div class="detail">Location: {{cats.location}}</div>
  <br>
  <a href="/cats/{{cats.id}}/edit">Edit</a>
</div>

<div>
  <h3>Bird Sightings at the Same Location</h3>
  {{#each birds}}
    <p>{{species}}</p>
  {{/each}}
</div>